# Capturing NAN values with a new feature

works well if the data are not missing  at random : Missing data not at random (MNAR)


### All the techniques of handling ,missing values

1. Mean/ Median/Mode imputation
2. Random Sample Imputation
3. Capturing NAN values with a new feature
4. End of Distribution imputation
5. Arbitrary imputation
6. Frequent categories imputation

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('titanic dataset.csv')
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
df1 = pd.read_csv('titanic dataset.csv', usecols=['Age','Fare','Survived'])

In [5]:
df1.isnull().sum()

Survived      0
Age         177
Fare          0
dtype: int64

In [7]:
import numpy as np
# it tells the importance of feature 
# it can also tell us that some thing has happend to column age where ever the value is 1.
df1['Age_Nan'] = np.where(df['Age'].isnull(),1,0)

In [14]:
# we can replace the null value with median
df1['Age'].fillna(df.Age.median(),inplace=True)

In [15]:
df1.head(10)

   Survived   Age     Fare  Age_Nan
0         0  22.0   7.2500        0
1         1  38.0  71.2833        0
2         1  26.0   7.9250        0
3         1  35.0  53.1000        0
4         0  35.0   8.0500        0
5         0  28.0   8.4583        1
6         0  54.0  51.8625        0
7         0   2.0  21.0750        0
8         1  27.0  11.1333        0
9         1  14.0  30.0708        0

Where ever tha agenan column has 1 it shows us that age was missing

# Advantage
1. Easy to implement.
2. Capture the importance of missing values.
3. good for less number of features.

# Disadvatnage
1.creating additional feature whihc lead to curse of dimensionaltiy